* {
  box-sizing: border-box;
}

body {
  padding: 0%;
  margin: 0%;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

*:focus {
  outline: 2px dotted #FF7500;
  outline-offset: 3px;
}

.header {
  border-top: 5px solid #FF7500;
  background-color: #fff;
  padding-top: 16px;
  padding-bottom: 16px;

}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;

}

.logo-link {
  transition: opasity 0.4s ease;
  display: block;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.6;

}

.div-header-nav-link {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin-right: 30px;
}

.header-nav-link {
  /*list-style-type: none;*/
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin-right: 30px;
}

.style-link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  color: #000000;
  transition: color 0.4s ease,
  opasity 0.4s ease;
  margin-right: 32px;

}

.style-link:hover {
  color: #FF7500;
}

.style-link:active {
  opacity: 0.6;
}

.style-link-bottom {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 4px;
  background-color:#FF7500;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  transition: opacity 0.4s ease;
  margin-right: 170px;
}

.style-link-bottom:hover {
  opacity: 0.8;
}

.style-link-bottom:active {
  opacity: 0.6;
}

.hero {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #252420;
  color: #fff;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-h2{
  color:#fff;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  /* or 48px */

  letter-spacing: 0.5px;
  margin-top: 0;
  margin-bottom: 24px;
}

.hero-p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  letter-spacing: 0.5px;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 32px;
}

.section_2 {
  padding-top: 210px;
  padding-bottom: 210px;

}

.section-2 {
  align-items: default;
  display: flex;
  list-style-type: none;
  margin-top: 0;

}

.section-2-div {
  margin-right: 40px;

}

.section-2-div:last-child {
  margin-right: 0;
}


.section-2-h2 {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 120%;
  /* or 86px */

  letter-spacing: 0.5px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 204px;
}
.section-2-h3 {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.5px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 12px;
}
.section-2-p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  letter-spacing: 0.5px;
  color: #000000;
  width: 370px;

}

.style-img {
  background-color: #ff77004b;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 32px;
}

.main-2 {
  padding-top: 120px;
  padding-bottom: 160px;
}

.section-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  background-color: #252420;
  color: #fff
}

.section-3 div {
  padding:
}

.section-3-h2 {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  /* or 48px */
  margin-top: 0;
  margin-bottom: 24px;

  letter-spacing: 0.5px;

  color: #FFFFFF;
}

.section-3-p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  letter-spacing: 0.5px;
  margin-top: 0;
  margin-bottom: 12px;
  color: #FFFFFF;
  width: 470px;
}

strong {
 color: #FF7500;
}

.kitoblar_rasmi {
  border-radius: 12px;
}

.icon {
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: #252420;
  margin: 0;
  margin-right: 16px;
  display: block;

}

.icon:hover {
  color: #FF7500;
}

.site-footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-footer-bottom {
  background-color: #F8F8F8;
  padding-top: 56px;
  padding-bottom: 56px;
}

.style-link-footer {
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  color: #252420;
  list-style-type: none;
  padding: 0;
  margin-bottom: 16px;

}


.style-footer {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-right: 68px;
}

.style-footer:last-child {
  margin-right: 0;
}

.style-link-footer:hover {
  color: #FF7500;
}

.style-link-footer:active {
  opacity: 0.6;
}
